@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&display=swap");

.noto-serif-tc-font {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.chiron-hei-hk-font {
  font-family: "Chiron Hei HK", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
